.square-button {
    width:  30px;
    height: 30px;
    /*background-color: white;*/
    border: 1px solid grey;
    padding: 0;
    margin: -1px;
    border-radius: 0;
    cursor: default !important;
}

.square-button:focus, .square-button:active {
    outline: none !important;
    box-shadow: none;
}

.square-button:hover {
    filter: brightness(.85);
}


@media (min-width: 576px) {
    .square-button {
        width:  35px;
        height: 35px;
    }
}


@media (min-width: 768px) {
    .square-button {
        width:  40px;
        height: 40px;
    }
}